input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='number'],
textarea,
select {
  display: block;
  width: 100%;
  margin: 0;
  padding: 14px 15px;
  line-height: 1;
  height: fit-content;
  color: color('gray-300');
  border: none;
  border-radius: 70px;
  border: 2px solid color('gray-600');
  background-color: color('gray-700');
  appearance: none;

  outline: none;

  font-family: 'Gilroy';
  font-weight: 700;
  font-size: px2rem(14px);
  line-height: px2rem(16px);

  transition: all 300ms $transition;

  @include input-placeholder {
    color: color('gray-500');
    opacity: 1;
  }

  @include input-autofill {
    border: 2px solid color('gray-600');
    -webkit-text-fill-color: color('gray-300');
    -webkit-box-shadow: 0 0 0 1000px color('gray-700') inset !important;
    -webkit-transition: background-color 5000s ease-in-out 0s !important;
    transition: background-color 5000s ease-in-out 0s !important;
    background-color: color('gray-700') !important;
  }

  &:hover {
    border-color: color('gray-500');
    color: color('gray-500');
  }

  &.error {
    border-color: color('primary-orange');
    color: color('primary-orange');
  }

  &:focus {
    @include input-placeholder {
      opacity: 0;
    }

    color: color('gray-300');
    border-color: color('primary-yellow');
  }

  &:active {
    // color: red;
  }

  &.valid {
    border-color: color('primary-green');
    color: color('gray-300');
  }

}

input[type='password'],
input[type='text'] {
  padding-right: 40px;
}

.inputs-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-wrap {
  width: 100%;

  label {
    display: block;
    color: color('gray-400');
    font-size: px2rem(12px);
    line-height: px2rem(12px);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .input-field {
    position: relative;
    width: 100%;
  }

  .error-message {
    font-size: px2rem(10px);
    color: color('primary-orange');
    margin-left: 15px;
  }

  .icon-validation {
    position: absolute;
    width: 1rem;
    height: 1rem;
    position: absolute;
    display: inline-flex;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    &.error {
      fill: color('gray-500');
    }

    &.valid {
      fill: none;
      stroke: color('primary-green');
    }
  }

  .input-field-show-pass {
    position: absolute;
    display: inline-flex;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 21px;
      top: -2px;
      background-color: color('gray-500');

      border-radius: 1px;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      transition: all 0.2s $transition;
      box-shadow: -1px 1px 0px 1px color('gray-700');
    }

    svg.icon {
      width: 22.45px;
      height: 16px;
      fill: color('gray-500');
    }

    &.active {
      &:after {
        opacity: 1;
        transform: rotateZ(45deg);
      }
    }
  }
}

.input-wrap-radio {
  display: flex;
  gap: 10px;
  [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type=radio]+img {
    cursor: pointer;
    @include sizes(25px)
  }

  [type=radio]:checked+img {

  }

  label {
    margin-bottom: 0;
    @include sizes(45px);
    @include flex-center-center;
    background-color: transparent;
    border-radius: 50%;

    transition: background-color 0.2s $transition;
    &.active {
      background-color: color('gray-600');
    }
  }
}