@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
}