.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 24px;
  border-bottom: 1px solid color('gray-700');
  display: flex;
  align-items: center;
  height: map-get($header_height, 'large');
  background-color: rgba(color('gray-800'), 0.9);
  z-index: 3;
  @include mq('medium') {
    height: map-get($header_height, 'medium');
    padding: 0 15px;
  }

  .buttons {
    margin-left: auto;
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 45px;
    @include mq('medium') {
      height: 30px;
      position: relative;
      margin: 0;
    }
  }
}