.button {
  font-family: 'Gilroy';
  font-size: px2rem(14px);
  width: fit-content;
  line-height: 1rem;
  padding: 12px 16px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  background-color: color('primary-yellow');
  color: color('gray-800');
  border-radius: 90px;
  transition: all $transition 0.2s;
  border: none;
  &:hover {
    background-color: shade(color('primary-yellow'), 25%);
    cursor: pointer;
  }

  &.button-medium {
    padding: 16px 24px;
    font-size: 1rem;
  }

  &.button-dark {
    background-color: transparent;
    border: 2px solid color('gray-500');
    color: color('gray-100');
    padding: 10px 14px;
    &:hover {
      background-color: color('gray-100');
      color: color('gray-800');
      border-color: color('gray-100');
    }
  }
}

.buttons {
  >.button {
    margin-right: 15px;
    @include mq('small') {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}